@{
    ViewBag.Title = "Centro de Fisioterapia";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<div class="row">
    <div class="col-md-4">
        <h2>Prevenção</h2>
        <p style="text-align: justify;">
            A atenção fisioterapêutica propicia o desenvolvimento de ações preventivas primárias, secundárias e terciárias. Mesmo antes de a doença atingir o horizonte clínico, ou seja, de exibir sinais
            e sintomas, podem ser desenvolvidas intervenções preventivas. Em indivíduos sob atenção do Fisioterapeuta para recuperação funcional de lesões e/ou disfunções, ações preventivas mais complexas
            podem ser desenvolvidas, como por exemplo, a prevenção de incapacidade respiratória numa vitima de um dado quadro neurológico. No âmbito da saúde comunitária podem ser desenvolvidas ações
            preventivas visando a minimização de disfunções decorrentes de doenças crónico-degenerativas, prevenção de condições bio mecanicamente desfavoráveis, escola de postura, dentre outras ações.
            É crescente a solicitação da sociedade para que o estado disponibilize com maior efetividade a atenção fisioterapêutica.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Reabilitação</h2>
        <p style="text-align: justify;">
            Trata-se de um processo multiprofissional visando a reinserção bio-psico-social do paciente/cliente. O fisioterapeuta tem por objetivo restaurar os movimentos e funções comprometidas
            depois de uma doença ou acidente. Nesse momento, é o Terapeuta Ocupacional que vai atuar com esse paciente para que o mesmo possa estar se reinserindo na sociedade, ou o mais perto disto
            (mais funcional/autônomo possível). Não se pode afirmar que a reabilitação seja um sucesso se o indivíduo recuperado total ou parcialmente não conseguir retornar à sua função social de
            origem, igual ou próximo ao desempenho anterior ao acidente ou doença. O fisioterapeuta trabalha também como integrante de equipes multiprofissionais de saúde funcional juntamente com
            enfermeiros, terapeutas ocupacionais, educadores físicos, psicólogos e médicos.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Reintegração</h2>
        <p style="text-align: justify;">
            A fase final do processo de reabilitação de grandes incapacitados, reintegrar a pessoa à sociedade é nobre objetivo (não exclusivo) da atenção fisioterapêutica, após uma terapia resolutiva.
            Em pessoas que sofreram sequelas irreversíveis (perda de membros, paralisias por lesões nervosas centrais ou periféricas ou afecções musculotendinosas incapacitantes), tal reintegração se
            dá mediante o treinamento e adaptação dos pacientes às suas potencialidades (com uso ou não de órteses e/ou próteses), para um grau o maior possível de autonomia pessoal e comunitária e
            consequente interação social.
        </p>
        <p align="center"><img src="~/Imagens/cadeira.jpg" width="160" height="196" alt="" /></p>
    </div>
</div>

