@{
    ViewBag.Title = "Acordos";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>


<div class="row">
    <div class="col-md-4">
        <h2>Prevenção</h2>
        <p style="text-align: justify;">

        </p>
    </div>
    <div class="col-md-4">
        <h2>Reabilitação</h2>
        <p style="text-align: justify;">

        </p>
    </div>
    <div class="col-md-4">
        <h2>Reintegração</h2>
        <p style="text-align: justify;">

        </p>
        <p align="center"><img src="~/Imagens/cadeira.jpg" width="160" height="196" alt="" /></p>
    </div>
</div>