@{
    ViewBag.Title = "Acordos e Convenções";
}
<h2>@ViewBag.Title</h2>



<div class="row">
    <div class="col-md-4">
        <hr />
        <ul>
            <li>ARS/SNS</li>
            <li>ADSE</li>
            <li>SAMS</li>
            <li>SAD/PSP</li>
            <li>ADMG</li>
            <li>ADM</li>
            <li>Multicare</li>
            <li>AdvanceCare</li>
            <li>Medis</li>
            <li>PT/ACS</li>
            <li>Future/Healthcare</li>
        </ul>
        <hr />
        <address>
            <p>Realizamos tratamentos ao domicílio.</p>
            <hr />
            <abbr><b>TM:</b>917 811 047</abbr>
            <hr />
            <abbr><b>Telefone:</b>241 372 082</abbr>
            <hr />
            <strong>Email:</strong>   <a href="fisabrantes@hotmail.com">fisabrantes@hotmail.com</a>
        </address>
    </div>
    <div class="col-md-4">
        <p style="text-align:center"><img src="~/Imagens/acordos.jpg" width="737" height="466" alt="" /></p>
        <br />
    </div>
</div>
