@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>

<p style="text-align:center">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24642.007735786894!2d-8.2187703!3d39.4636587!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x89551524def50e02!2sFisabrantes-centro+De+Fisioterapia+Unipessoal+Lda!5e0!3m2!1spt-PT!2spt!4v1498291176366" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</p>
<address>
    <strong>Email:</strong>   <a href="fisabrantes@hotmail.com">fisabrantes@hotmail.com</a>
</address>
<address>
    Praceta Arquitecto Raul Lino<br />
    Ed Tejo, Sala 6 - Piso 1<br />
    2200-300 ABRANTES<br />
    <abbr><b>TM:</b>917 811 047</abbr>
    <abbr><b>Telefone:</b>241 372 082</abbr>
</address>


