@model ICollection<Fisabrantes.Models.Funcionarios>

@{
    ViewBag.Title = "ListaAdministrativos";
}

<h2>Lista de Administrativos</h2>


<div class="form-horizontal">

    @foreach (var administrativo in Model)
    {
        <div class="form-group">
            @Html.LabelFor(model => administrativo.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => administrativo.Nome, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => administrativo.DataEntClinica, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => administrativo.DataEntClinica, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <hr />

    }

</div>
