@{
    Layout = "~/Views/Home/Tratamentos.cshtml";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div class="row">
    <div class="col-md-4">
        <h2>Prevenção</h2>
        <p style="text-align: justify;">

        </p>
    </div>
    <div class="col-md-4">
        <ul>
            <li>Electroterapia</li>
            <li>Fisioterapia, Termoterapia</li>
            <li>Hidroterapia</li>
            <li>Massagem Terapêutica</li>
            <li>Cinesioterapia, Ventiloterapia</li>
            <li>Mecanoterapia</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Reintegração</h2>
        <p style="text-align: justify;">

        </p>
        <p align="center"><img src="~/Imagens/clinica.jpg" width="600" height="398" alt="" /></p>
    </div>
</div>

