@{
    ViewBag.Title = "Tratamentos";
}
<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <ul>
            <li>Electroterapia</li>
            <li>Fisioterapia</li>
            <li>Termoterapia</li>
            <li>Hidroterapia</li>
            <li>Massagem Terapêutica</li>
            <li>Cinesioterapia</li>
            <li>Ventiloterapia</li>
            <li>Mecanoterapia</li>
        </ul>
    </div>
    <div class="col-md-4">
        <p><img src="~/Imagens/clinica.jpg" width="600" height="398" alt="" /></p>
    </div>
</div>

