@{
    Layout = "~/Views/Home/Tratamentos.cshtml";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<html>
<body>
    <p><img src="~/Imagens/clinica.jpg" width="600" height="398" alt="" /></p><h2>Tratamentos de Medicina Física e Reabilitação:</h2>
    <ul>
        <li>Electroterapia</li>
        <li>Fisioterapia, Termoterapia</li>
        <li>Hidroterapia</li>
        <li>Massagem Terapêutica</li>
        <li>Cinesioterapia, Ventiloterapia</li>
        <li>Mecanoterapia</li>
    </ul>


</body>
</html>
