@{
    ViewBag.Title = "Tratamentos";
}
<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <ul>
            <li>Electroterapia</li>
            <li>Fisioterapia</li>
            <li>Termoterapia</li>
            <li>Hidroterapia</li>
            <li>Cinesioterapia</li>
            <li>Ventiloterapia</li>
            <li>Mecanoterapia</li>
            <li>Massagem Terapêutica</li>
        </ul>
        <hr />
        <abbr><b>TM:</b>917 811 047</abbr><br />
        <abbr><b>Telefone:</b>241 372 082</abbr>
        <hr />
        <p><b>Horário de Atendimento:</b></p>
        <table>
            <tr>
                <td>Segunda-feira</td>
                <td>8:00 - 20:00</td>
            </tr>
            <tr>
                <td>Terça-feira</td>
                <td>8:00 - 20:00</td>
            </tr>
            <tr>
                <td>Quarta-feira</td>
                <td>8:00 - 20:00</td>
            </tr>
            <tr>
                <td>Quinta-feira</td>
                <td>8:00 - 20:00</td>
            </tr>
            <tr>
                <td>Sexta-feira</td>
                <td>8:00 - 20:00</td>
            </tr>
            <tr>
                <td>Sábado</td>
                <td>8:00 - 13:00</td>
            </tr>
            <tr>
                <td>Domingo</td>
                <td>Encerrado</td>
            </tr>
        </table>
        </p>
        <hr />
        <p>Realizamos tratamentos ao domicílio.</p>
    </div>
    <div class="col-md-4">
        <p><img src="~/Imagens/clinica.jpg" width="380" height="290" alt="" /></p>
        <p><img src="~/Imagens/shutterstock_279710963.jpg" width="380" height="290" alt="" /></p>
    </div>
    <div class="col-md-4">
        <p><img src="~/Imagens/asistencia-domiciliaria.jpg" width="380" height="290" alt="" /></p>
        <p><img src="~/Imagens/masaje2.gif" width="380" height="290" alt="" /></p>
    </div>
</div>

