@{
    ViewBag.Title = "Tratamentos";
}
<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <ul>
            <li>Electroterapia</li>
            <li>Fisioterapia</li>
            <li>Termoterapia</li>
            <li>Hidroterapia</li>
            <li>Cinesioterapia</li>
            <li>Ventiloterapia</li>
            <li>Mecanoterapia</li>
            <li>Massagem Terapêutica</li>
        </ul>
        <hr />
        <abbr><b>TM:</b>917 811 047</abbr><br />
        <abbr><b>Telefone:</b>241 372 082</abbr>
        <hr />
        <p><b>Horário de Atendimento:</b></p>
        Segunda-feira: 8:00 - 20:00<br />
        Terça-feira: 8:00 - 20:00<br />
        Quarta-feira: 8:00 - 20:00<br />
        Quinta-feira: 8:00 - 20:00<br />
        Sexta-feira: 8:00 - 20:00<br />
        Sábado: 8:00 - 13:00<br />
        Domingo: Encerrado
        </p>
        <hr />
        <p>Realizamos tratamentos ao domicílio.</p>
    </div>
    <div class="col-md-4">
        <p><img src="~/Imagens/clinica.jpg" width="380" height="290" alt="" /></p>
        <p><img src="~/Imagens/shutterstock_279710963.jpg" width="380" height="290" alt="" /></p>
    </div>
    <div class="col-md-4">
        <p><img src="~/Imagens/asistencia-domiciliaria.jpg" width="380" height="290" alt="" /></p>
        <p><img src="~/Imagens/masaje2.gif" width="380" height="290" alt="" /></p>
    </div>
</div>

